@font-face {
  font-family: 'VBS-Chan';
  src: url('fonts/Mongrel-Grotesque-Regular-Webfont.woff');
}

html {
    background: #ffffff;
}

body {
  background: white;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 30px;
  letter-spacing: -0.01rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  width: 600px;
  margin-top: 25px;
}

/* . {
  position: fixed;
  top: 1em;
  right: 1.5em;
  background: white;
  border-spacing: 2px;
  font-size: 12px;
  font-style: oblique;
} */

#back{
  font-size: 13px;
  color: black;
  padding-left: 0;
  padding-bottom: 2em;
}

hr {
  width: 500px;
  margin: 2em 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

h1 {
  padding-top: 1em;
  font-weight: normal;
  text-align: left;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 4px;
  margin-top: 4px;
  text-indent: 0rem;
}

h2 {
  font-weight: normal;
  text-align: left;
  font-size: 16px;
  line-height: 4px;
  text-indent: 0.6em;
  color: grey;
  margin-top: 18px;
}

p {
  margin-left: 1.5em;
  font-size:
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: lightsalmon;
}

*::selection {
  background: orange;
  color: black;
}
