body {
  background: white;
  color: black;
  font-size: 33px;
  font-family: Helvetica, serif;
  font-weight: 400;
  line-height: 40px;
  font-style: normal;
  letter-spacing: -0.04rem;
  margin-left: 150px;
  margin-right: 250px;
  -webkit-font-smoothing: antialiased;
}

#credit {
  position: fixed;
  max-width: 180px;
  right: 1em;
  color: black;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  font-family: 'EB Garamond', serif;
  margin-right: 80px;
  color: grey;
}

*::selection {
  background: lightgrey;
  color: white;
}

#credit a {
  color: grey;
  text-decoration: none;
}

p.quote {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: normal;
}

#title {
  margin-left: 2em;
  font-size: 30px;
  position: fixed;
  max-width: auto;
  left: 0.1em;
  color: black;
  padding-bottom: 5em;
  line-height: 50px;
  letter-spacing: normal;
  transform: rotate(90deg);
	transform-origin: left top 0;
}

#colorchange {
  font-size: 50px;
  border: none;
  max-width: 600px;
}

element.style {
    background-color: yellow;
    width: 50px;
}

#container {
  max-width: 650px;
  margin-left: 0.5em;
}

img {
  max-width: 100%;
}


#table-of-contents a {
  color: white;
  text-decoration: none;
}

#table-of-contents a:hover {
  color: black;
}

#table-of-contents ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}

#questions {
  color: #7c7c7c;
  padding-left: 2em;
  font-weight: normal;
}

#value {
  font-size: 30px;
}

h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: left;
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 1.5em;
}

h2 {
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  background: none;
  padding: 0;
  font-weight: normal;
  color: black;
  margin-top: 1em;
}

a {
  color: black;
  border-bottom: 1.2px solid grey;
}

a.red:hover {
  color: red;
  /*background: red;*/
}
a.green:hover {
  color: green;
  background:
}
a.yellow:hover {
  color: yellow;
  background:
}
a.blue:hover {
  color: blue;
  background:
}
a.white:hover {
  color: white;
  background:
}
a.brown:hover {
  color: brown;
  background:
}
a.violet:hover {
  color: purple;
  background:
}
a.orange:hover {
  color: orange;
  background:
}
a.turquoise:hover {
  color: turquoise;
  background:
}
a.grey:hover {
  color: grey;
  background:
}
a.black:hover {
  color: black;
  background:
}

a.sizeup:hover, a.sizeup:active {
  font-size: 150%;

}

.highlight {
  background: yellow;
  color: #000000;
  /* or pick a different color */
}

@media screen and (min-width: 300px) {
    body {
        background-color: brown;
    }
}

@media screen and (min-width: 400px) {
    body {
        background-color: blue;
    }
}

@media screen and (min-width: 500px) {
    body {
        background-color: yellow;        
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: green;
    }
}

@media screen and (min-width: 700px) {
    body {
        background-color: red;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: white;
    }
}
