div {
  position: fixed;
  width: 33.333%;
  bottom: 0;
  top: 0;
}

#column-one {
  /* background: yellow; */
  left: 0;
  font-size: 20px;

}
#column-two {
  /* background: lime; */
  left: 33.333%;
}
#column-three {
  /* background: blue; */
  right: 0;
}
button {
  position: fixed;
  bottom: 75px;
  left: 75px;
}
